* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: serif;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
.temperature {
  flex-direction: column;
}
.temperature-degree {
  font-size: xx-large;
}
.degree-zone {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-zone span {
  margin: 10px;
  font-weight: bold;
  font-size: xx-large;
}
.degree-zone h2 {
  font-size: 100px;
}
.temperature-description {
  font-weight: bold;
  font-size: large;
}
.description {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.temperature-description {
  font-weight: bold;
  font-size: x-large;
}
.description-icon {
  color: rgb(9, 58, 80);
}
.date {
  font-size: 30px;
}
