* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: serif;
}
.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-zone {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-zone span {
  margin: 10px;
  font-weight: bold;
  font-size: xx-large;
}
.degree-zone h2 {
  font-size: 50px;
}
.temperature-description {
  font-weight: bold;
  font-size: large;
}
.description {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature-description {
  font-weight: bold;
  font-size: x-large;
}
.description-icon {
  font-size: xxx-large;
  color: skyblue;
}
